*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
/back/logs
/back/qlh-vue-api-system/target
/app-xueli/unpackage
2022年成人高考新生报名表.doc
*.xlsx
